<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUDdy Dinos</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/dinos">Dinos</a>
            <a href="/dinos/new">Add a Dino</a>
            <a href="/cryptids">Cryptids</a>
            <a href="/cryptids/new">Add a Cryptid</a>
        </nav>
    </header>
    <%- body %>
</body>
</html>