<h2 class="pre-header">show me...</h2>
<h1>ALL OF THE DINOS</h1>
<div class="creature-parent">
<% dinos.forEach((dino, index) => { %>
    <div class="creature-container">
        <a href="/dinos/<%= index %>" class="btn">
            Look at <%= dino.name %>
        </a>
        <form method="POST" action="/dinos/<%= index %>/?_method=DELETE">
            <input type="submit" value="Delete" class="btn"/>
        </form><br/>
    </div>
<% }); %>
</div>