<h2>Add new dinos here!</h2>
<form action="/dinos" method="POST">
    <label for="dino-name">Name:</label>
    <input type="text" name="name" id="dino-name" placeholder="Dino Name" />
    <label for="dino-type">Dino Type:</label>
    <input type="text" name="type" id="dino-type"/>
    <input type="submit" value="Add that dino!" class="btn"/>
</form>