<h2>Look at this one specific special dino!</h2>
<div class="creature-container">
    <p>
        Hi! My name is <%= dino.name %> and I am a <%= dino.type %>
    </p>
    <a href="/dinos/edit/<%= dino.id %>">Edit <%= dino.name %> Here!</a>
</div>